In [1]:
import numpy as np
import pandas as pd

In [5]:
df_fixed = pd.read_csv("./data/processed/fixed_price.csv")
index_price = pd.read_csv("./data/processed/indexed_price.csv")
index_power = pd.read_csv("./data/processed/indexed_price_power.csv")

df_fixed.columns = df_fixed.columns.str.lower()
index_price.columns = index_price.columns.str.lower()
index_power.columns = index_power.columns.str.lower()

index_price_anual = index_price.copy()
index_price_power_anual = index_power.copy()

In [7]:
display(index_price)

,sistema,tarifa,cia,mes,fee,p1,p2,p3,p4,p5,p6
0,BALEARES,2.0TD,ACCIONA,2023-06-01,Cierzo,0.212767,0.165975,0.142781,0.000000,0.0,0.000000
1,BALEARES,2.0TD,ACCIONA,2023-05-01,Cierzo,0.190597,0.143704,0.120055,0.000000,0.0,0.000000
2,BALEARES,2.0TD,ACCIONA,2023-04-01,Cierzo,0.190032,0.143135,0.119475,0.000000,0.0,0.000000
3,BALEARES,2.0TD,ACCIONA,2023-03-01,Cierzo,0.208748,0.161937,0.138661,0.000000,0.0,0.000000
4,BALEARES,2.0TD,ACCIONA,2023-02-01,Cierzo,0.260442,0.213867,0.191651,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
9664,PENINSULA,6.4TD,CANDELA,2023-09-01,"07 / Bi0,012",0.000000,0.000000,0.158240,0.144112,0.0,0.139823
9665,PENINSULA,6.4TD,CANDELA,2023-09-01,"08 / Bi0,01",0.000000,0.000000,0.156240,0.142112,0.0,0.137823
9666,PENINSULA,6.4TD,CANDELA,2023-09-01,"09 / Bi0,008",0.000000,0.000000,0.154240,0.140112,0.0,0.135823
9667,PENINSULA,6.4TD,CANDELA,2023-09-01,"10 / Bi0,006",0.000000,0.000000,0.152240,0.138112,0.0,0.133823
9668,PENINSULA,6.4TD,CANDELA,2023-09-01,"11 / Bi0,003",0.000000,0.000000,0.149240,0.135112,0.0,0.130823

## Factura de prueba (kino)

In [3]:
cons_mens_P1= 74 #punta #kW
cons_mens_P2= 83 #llano 
cons_mens_P3= 168 #valle

sumatorio_cons_mens=cons_mens_P1+cons_mens_P2+cons_mens_P3

precio_mens_P1= 0.128515 # €
precio_mens_P2= 0.128515
precio_mens_P3= 0.128515

descuento= 0.02 #porcentaje

precio_P1_descuento= precio_mens_P1 * (1-descuento) #€
precio_P2_descuento= precio_mens_P2 * (1-descuento)
precio_P3_descuento= precio_mens_P3 * (1-descuento)

In [4]:
total_pago_P1_energia= cons_mens_P1 * precio_P1_descuento #€
total_pago_P2_energia= cons_mens_P2 * precio_P2_descuento
total_pago_P3_energia= cons_mens_P3 * precio_P3_descuento

sumatorio_total_pago_energia = total_pago_P1_energia + total_pago_P2_energia + total_pago_P3_energia

In [5]:
def calcular_energia(cons_mens_P1,cons_mens_P2,cons_mens_P3, precio_mens_P1,precio_mens_P2,precio_mens_P3,descuento):
    sumatorio_cons_mens=cons_mens_P1+cons_mens_P2+cons_mens_P3
    precio_P1_descuento= precio_mens_P1 * (1-descuento) #€
    precio_P2_descuento= precio_mens_P2 * (1-descuento)
    precio_P3_descuento= precio_mens_P3 * (1-descuento)

    total_pago_P1_energia= cons_mens_P1 * precio_P1_descuento #€
    total_pago_P2_energia= cons_mens_P2 * precio_P2_descuento
    total_pago_P3_energia= cons_mens_P3 * precio_P3_descuento

    sumatorio_total_pago_energia = total_pago_P1_energia + total_pago_P2_energia + total_pago_P3_energia
    return sumatorio_total_pago_energia

In [6]:
potencia_contratada_P1= 3.45 #kW
potencia_contratada_P2= 3.45

dias=33
precio_potencia_dia_P1= 0.09968 #€
precio_potencia_dia_P2= 0.033816
total_pago_P1_potencia= dias * precio_potencia_dia_P1 * potencia_contratada_P1
total_pago_P2_potencia= dias * precio_potencia_dia_P2 * potencia_contratada_P2

sumatorio_total_pago_potencia = total_pago_P1_potencia + total_pago_P2_potencia

In [7]:
def calcular_potencia(potencia_contratada_P1,potencia_contratada_P2,dias,precio_potencia_dia_P1,precio_potencia_dia_P2):
    total_pago_P1_potencia= dias * precio_potencia_dia_P1 * potencia_contratada_P1
    total_pago_P2_potencia= dias * precio_potencia_dia_P2 * potencia_contratada_P2
    sumatorio_total_pago_potencia = total_pago_P1_potencia + total_pago_P2_potencia
    return sumatorio_total_pago_potencia

In [8]:
impuesto_electrico=0.33 #euros

otros= 2.15 #bonos, alquiler contador
IVA = 0.05 #%
bi_IVA= (sumatorio_total_pago_energia
         +sumatorio_total_pago_potencia
         +impuesto_electrico
         +otros)
importe_total_factura_mens= bi_IVA * (1+IVA)
importe_total_factura_mens

61.541074455

In [9]:
def calcular_total_factura(sumatorio_total_pago_energia,sumatorio_total_pago_potencia,impuesto_electrico,otros,IVA):
    bi_IVA= (sumatorio_total_pago_energia + sumatorio_total_pago_potencia
         +impuesto_electrico + otros)
    importe_total_factura_mens= bi_IVA * (1+IVA)
    return importe_total_factura_mens

## Propuesta

In [18]:
energia_indexado=pd.read_csv('data/processed/indexed_price.csv')
potencia_indexado=pd.read_csv('data/processed/indexed_price_power.csv')
energia_indexado_fecha=pd.read_csv('data/processed/indexed_updated_DM.csv')

In [11]:
#variables se obtienen del formulario de full stack 
cons_mens_P1= 74 #punta #kW
cons_mens_P2= 83 #llano 
cons_mens_P3= 168 #valle

sumatorio_cons_mens=cons_mens_P1+cons_mens_P2+cons_mens_P3

#ML
# precio_mens_P1=  # €
# precio_mens_P2=
# precio_mens_P3=
#obtener de cada fee de cada compañía y comparar

#descuento=  #porcentaje

precio_P1_descuento= precio_mens_P1 * (1-descuento) #€
precio_P2_descuento= precio_mens_P2 * (1-descuento)
precio_P3_descuento= precio_mens_P3 * (1-descuento)

SyntaxError: invalid syntax (3743702829.py, line 14)

> Recorrerse con un bucle for cada fee de cada compañía, se obtienen todos los precios con las fórmulas de arriba y se calculan los más baratos

In [ ]:
energia_indexado_fecha['MES'] = pd.to_datetime(energia_indexado_fecha['MES'])
energia_indexado_fecha.set_index('MES', inplace=True)
df_indexed_fecha = energia_indexado_fecha.sort_index().reset_index()
# df_indexed_fecha.tail()

In [22]:
df_indexed_fecha

,MES,SISTEMA,TARIFA,CIA,FEE,P1.,P2.,P3.,P4.,P5,P6.
0,2022-01-01,CANARIAS,6.1TD,IGNIS,20 MARE PLUS 3,0.000000,0.346268,0.000000,0.301674,0.000000,0.253928
1,2022-01-01,PENINSULA,6.1TD,FACTOR,25.5,0.307259,0.280759,0.000000,0.000000,0.000000,0.244369
2,2022-01-01,PENINSULA,2.0TD,ACCIONA,Cierzo,0.335863,0.289650,0.269060,0.000000,0.000000,0.000000
3,2022-01-01,PENINSULA,2.0TD,ACCIONA,Levante,0.355148,0.308935,0.288345,0.000000,0.000000,0.000000
4,2022-01-01,PENINSULA,6.1TD,FACTOR,23.5,0.305259,0.278759,0.000000,0.000000,0.000000,0.242369
...,...,...,...,...,...,...,...,...,...,...,...
11201,2023-11-01,PENINSULA,6.3TD,IGNIS,4 MARE KIT 2,0.000000,0.129119,0.119301,0.000000,0.000000,0.091489
11202,2023-11-01,PENINSULA,6.3TD,IGNIS,30 MARE PLUS 1,0.000000,0.155119,0.145301,0.000000,0.000000,0.117489
11203,2023-11-01,PENINSULA,6.3TD,IGNIS,25 MARE PLUS 2,0.000000,0.150119,0.140301,0.000000,0.000000,0.112489
11204,2023-11-01,PENINSULA,6.2TD,CANDELA,"08 / Bi0,01",0.000000,0.134757,0.123334,0.000000,0.000000,0.094704
11205,2023-11-01,BALEARES,6.1TD,FACTOR,11.5,0.000000,0.000000,0.000000,0.125959,0.111199,0.081642

In [19]:
energia_indexado_fecha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11206 entries, 0 to 11205
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SISTEMA  11206 non-null  object
 1   TARIFA   11206 non-null  object
 2   CIA      11206 non-null  object
 3   MES      11206 non-null  object
 4   FEE      11206 non-null  object
 5   P1.      11206 non-null  float64
 6   P2.      11206 non-null  float64
 7   P3.      11206 non-null  float64
 8   P4.      11206 non-null  float64
 9   P5       11206 non-null  float64
 10  P6.      11206 non-null  float64
dtypes: float64(6), object(5)
memory usage: 963.1+ KB